*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    padding: 20px 0%;
}

.logo{
    width: 25%;
}

.menu{
    padding-top: 0;
    width:75%;
    text-align:right;
}

.menu a{
    color:black;
    text-decoration: none;
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-weight: bold;
    margin-right: 15px;
}