*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 1%;
}

header{
    padding: 20px 0%;
}

.logo{
    width: 352px;
    height: 85px;
}
 
.menu{
    padding-top: 0;
    width:75%;
    text-align:right;
}

.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 12px;
}